.bookmark {
  width: 25px;
  height: 25px;
  background-size: auto auto;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 50%;
}