.root {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  width: 85px;
  height: 25px;
  cursor: pointer;
  font-family: 'SFProText', sans-serif;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: white;
  background: #2750FF;
  border: none;
}

.root:focus {
  outline: none;
}