.block {
  font-family: 'SFProText', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 20%;
}

.count {
  font-family: 'SFProText', sans-serif;
  font-size: 16px;
  margin: 0;
  line-height: 20px;
  text-align: center;
}

.title {
  color:#7F7F7F;
  font-size: 10px;
  margin: 0;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.02em;
}