.card {
  width: 280px;
  height: 120px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  
}