.ava {
  width: 40px;
  height: 40px;
  background: #F8F8F8;
  background-size: auto auto;
  background-position: center;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 50%;
}